# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
.mixin.out
.vscode
eclipse
saves
crash-reports
debug
local
modernfix
mods
resourcepacks
screenshots
schematics
server-resource-packs
shaderpacks
temp
texturepacks
cherishedworlds-favorites.dat
options.txt
rhino.local.properties
servers.dat
servers.dat_old
usercache.json
usernamecache.json
backups
etched-sounds/
fancymenu_data
logs
emf
.qmenu_opened.marker
emi.json
icon.png
panorama.dat
kubejs/exported
kubejs/probe
kubejs/jsconfig.json
kubejs/README.txt
config/emi.css
config/openloader/resources/*
!config/openloader/resources/99_RaspberryResources
spyglass.json

# Client-only / UI / stateful configs
config/ambientsounds-client.json
config/auditory.json
config/chat_heads.json5
config/customstars.json
config/embeddium-options.json
config/immediatelyfast.json
config/prettyrain.json5
config/propertymodifier_generated.toml
config/presencefootsteps/userconfig.json

# FancyMenu runtime data
config/fancymenu/user_variables.db
config/fancymenu/config.txt

# Localization caches
config/fancymenu/locals/**
config/konkrete/locals/**

# Backups & generated junk
config/**/backup/**

# Files from Forge MDK
forge*changelog.txt

# Baisylia's Files
instance.json

# macOS
.DS_Store